body {
  background-color: #f7f9fb; /* Soft white background */
  color: #1b1f3b; /* Dark navy for primary text */
  font-family: "Inter", "Segoe UI", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  font-weight: 600;
  color: #1b1f3b; /* Primary text color */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
